
@import "./envVariables";
@import "./brackpoints";
.background{
   
    background-color: $background-color;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

.Title{

    font-family: "Fraunces",serif;
        font-size: medium;
    
}

.pomodoroConteiner{
    background-color: $pomodoro-container;
    
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 4px 5px $secondary-color;
    border-radius: 16px;
    padding: 2px;
    
        width: 300px;
        height: 500px;
        justify-content: space-between;
    
    p{
        padding: 0;
        margin: 0;
        font-size: 100px;
        
        font-family: 'Fraunces', serif;
       
       }
       .timeButton{
        font-family: "Fraunces",serif;
        background-color: $pomodoro-container;
        border: solid 2px $secondary-color;
        margin: 15px;
        border-radius: 8px;
        text-decoration: none;
        text-transform: none;
        font-size: medium;
        height: 100px;
        width: 250px;       
        margin-top: 10px;
        cursor: pointer;
        &:hover{
            background-color: $secondary-color;
            border: solid 2px $pomodoro-container;
        }
    }
 .timesConteiner{
  
    width: 100% ;
    display: flex;
    justify-content: center;
    .timeButton{
        font-family: "Fraunces",serif;
        border-radius: 8px;
        text-decoration: none;
        text-transform: none;
        border: solid 2px $secondary-color;
        height: 50px;
        margin-top: 5px;
        cursor: pointer;
        font-size: medium;
        height: 100px;
        width: 200px;
        
       }
   
 }
}

}